@import './cart/cart';
body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  

.nav-bgcolor{
    background-color: #8be2e6 !important;
}
.mr-lf-5{
  margin-left: 5px;
}
.heading{
  color:green;
}


